---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import SEO from '../components/SEO.astro';

interface Props {
	title?: string;
	description?: string;
	image?: string;
	type?: 'website' | 'article';
}

const { 
  title, 
  description, 
  image, 
  type = 'website' 
} = Astro.props;
const currentLocale = Astro.currentLocale || 'pl';
---

<!DOCTYPE html>
<html lang={currentLocale}>
	<head>
		<SEO {title} {description} {image} {type} />
	</head>
	<body class="scanlines">
        <Nav pathname={Astro.url.pathname} /> {/* Add the Astro Nav component here */}
		<slot />
        <Footer />
	</body>
</html>

<style>
	:global(body) {
		position: relative;
		min-height: 100vh;
        display: flex;
        flex-direction: column;
	}
    :global(main) {
        flex: 1;
    }
</style>